@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure dark mode styles are applied */
/* @layer base {
    :root {
        color-scheme: light;
    }
    
    :root.dark {
        color-scheme: dark;
    }
}

@layer utilities {
    .dark body {
        @apply bg-gray-900 text-white;
    }
    
    .dark button {
        @apply dark:text-white;
    }
    
    .dark div {
        @apply dark:text-gray-100;
    }
} */


[x-cloak] {
    display: none;
}

